<ion-header>
	<ion-toolbar color="primary">
		<ion-title>
			Weather app
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid>
		<ion-row>
			<ion-col size="9">
				<ion-searchbar placeholder="Enter the city" [(ngModel)]="city"></ion-searchbar>
			</ion-col>
			<ion-col><ion-button color="primary" expand="full" (click)="retrieveWeather()" [disabled]="isLoading">Search</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-list>
		<ion-item *ngFor="let weather of weathers">
			<ion-thumbnail slot="start">
				<img src="https://openweathermap.org/img/wn/{{weather.weather[0].icon}}@2x.png">
			</ion-thumbnail>
			<ion-label>
				<h2>{{weather.dt * 1000 | date:'medium'}}</h2>
				<p>{{weather.weather[0].main}}</p>
				<p>{{weather.temp.day - 273.15 | number}} C</p>
			</ion-label>
			<!-- Why is there [] : difference between routerLink and [routerLink]-->
			<ion-button fill="outline" slot="end" [routerLink]="['/detail',weather.dt]">View</ion-button>
		</ion-item>

	</ion-list>
</ion-content>
